:root {
    --primary: #fff;
}

.pdf-container {
    justify-content: center;
    display: flex;
    height: 100%;
    padding-top: 2em;
    padding-bottom: 4em;
    background-color: bisque;
    position: relative;
    z-index: 0;
}

.download-button {
    position: fixed;
    top: 80%;
    right: 15%;
    background: transparent;
    cursor: pointer;
    border: 0;
    background-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    z-index: 1;
}

@media screen and (max-width: 960px) {
    .pdf-container {
        height: 100vh;
    }
}