:root {
    --primary: #fff;
}

.pdf-container {
    justify-content: center;
    display: flex;
    padding: 1em;
    zoom: 130%;
    background-image:url("../../images/prof.jpeg") ;
}

.download-button {
    position: fixed;
    top: 900px;
    right: 550px;
    cursor: pointer;
    background: transparent;
    border-style: none;
}