.columns{
    display: grid;
    grid-template-columns: 25% 75%;
}

.columns .right{}

p{
    font-size: 1.25em;
    text-align: justify;
    padding: 1em;
}

h1{
   font-weight: lighter;
   padding: 1em;
   z-index: 1;
   background-color: white;
}

.right section{
    padding: 1em;
}

.map {
    width: 40%;
    min-width: 400px;
    height: auto;
    border-radius: 50%;
    margin: 2em;
    float: right;
}

.pic_riga{
    width: 15%;
    min-width: 200px;
    border-radius: 20%;
    margin: 2em;
    float: left;
}

.col_futurmap{
    display: grid;
    grid-template-columns: 40% 60%;
    clear: right;
}

.pic_futurmap, .pic_sogelink{
    width: 100%;
    padding: 1em;
}

.pic_pcl{
    width: 100px;
    height: auto;
    float: right;
    margin: 1em;
}

.arrow{
    margin-left: 45%;
}

.timeline{
    height: 100%;
    display: flex;
    margin-left: 45%;
    margin-bottom: 3em;
    width: 20px;
    background-image: url("../../images/point.png");
    background-repeat: repeat-y;
    background-size: 100%;
    padding: 1.5em;
}

.caption{
    font-style: italic;
    text-align: center;
}

@media screen and (max-width: 960px) {
    .columns{
        grid-template-columns: 100%;
    }

    .left{
        display: none;
    }

    .col_futurmap{
        display: block;
    }
}