.hobbies-title-container {
    display: flex;
    margin-bottom: 30px;
}

.hobbies-title {
    flex: 1;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    /* background-color: red; */
}

.hobbies-text {
    margin-top: 20px;
    font-size: 20px;
    text-align: justify;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.hobbies-img-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}

.hobbies-activities {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.hobbies-img {
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    padding-left: 2.5%;
    padding-top: 2.5%;
}

.hobbies-moto-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.hobbies-moto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 2.5;
    justify-content: center;
    align-items: center;
}

.moto-img1,
.moto-img2,
.moto-img3,
.moto-img4,
.moto-img5,
.moto-img6 {
    margin-left: 10px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.moto-img1 {
    width: 410px;
    height: 400px;
}

.moto-img2 {
    width: 350px;
    height: 400px;
}

.moto-img4 {
    width: 500px;
    height: 400px;
}

.moto-img5 {
    width: 500px;
    height: 400px;
}

.moto-img6 {
    width: 470px;
    height: 400px;
}

.moto-img3 {
    width: 290px;
    height: 400px;
}

.moto-img-mobile-screen {
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    width: 100%;
    object-fit: cover;
}
